.busines{
background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Images/photo-1530248809527-ee069dc8373a.jpg);
        background-size: cover;
        background-position: center;
    background-color: #183250;
}
